## Imports

In [3]:
import pandas as pd

## Train test data division

In [5]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')
print('Train:', train_data.shape, '| Test:', test_data.shape)

train_data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

train_data.head()

Train: (891, 12) | Test: (418, 11)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

## Preprocessing

In [6]:
new_train_data = pd.get_dummies(train_data)
new_test_data = pd.get_dummies(test_data)

new_train_data['Age'].fillna(new_train_data['Age'].mean(), inplace=True)
new_test_data['Age'].fillna(new_test_data['Age'].mean(), inplace=True)

new_train_data['Fare'].fillna(new_train_data['Fare'].mean(), inplace=True)
new_test_data['Fare'].fillna(new_test_data['Fare'].mean(), inplace=True)

new_train_data.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

## Model

In [7]:
from sklearn.ensemble import RandomForestClassifier

X = new_train_data.drop('Survived', axis=1)
y = new_train_data['Survived']

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

print('Train accuracy:', model.score(X, y))

Train accuracy: 0.8496071829405163

## Results

In [8]:
pred = model.predict(new_test_data)

output = pd.DataFrame({
    'PassengerId': new_test_data.PassengerId,
    'Survived': pred
})

print(output.shape)
output.head(10)

(418, 2)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [9]:
output.to_csv('submission.csv', index=False)